/***********************
    FanXpression
    ********************
    Copyright 2011 Sunnefa Lind
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    ********************
    FanXpression version: Version 1.0.3 Beta
    Current file: fanx_admin/css/admin_main.css
    First created: 26.8.2011

 *********************/

body {
    background: #eee;
    color: #111;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size:14px;
    margin:0;
    padding:0;
}

.top_bar {
    width:100%;
    height:21px;
    background: url(../images/gradient-top.jpg) repeat-x;
    padding:5px 0;
}

.top_bar .logo {
    display:inline-block;
    background: url(../images/logo-tiny.png) no-repeat;
    width:31px;
    height:30px;
    margin:-5px 5px;
    padding:0;
    float:left;
}

.menu_container {
    width:20%;
    float:left;
}

.content_container {
    width:75%;
    float:left;
}

a {
    color:#2B6FB6;
}

a:hover {
    color: #d49049;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 60%;
    /*border-bottom: 1px solid #ccc;*/
}
ul.menu li {
    position: relative;
}
ul.menu li ul {
    padding: 0 0 0 20px;
    margin:-1px 0 0 0;
    width:100%;
    list-style: none;
    border-top: 1px solid #ccc;
}

ul.menu li a {
    display: block;
    text-decoration: none;
    background: url(../images/gradient-top.jpg) repeat-x;
    height:21px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top: 0;
}

div.login {
    padding: 10px;
    width: 400px;
    margin:20px auto;
}

div.login form {
   border: 1px solid #ccc; 
}

div.login form input {
    width:300px;
}

textarea {
    height:100px;
    width:400px;
    border:1px solid #bbb;
}


input {
    border:1px solid #bbb;
    width:510px;
    height:20px;
    padding:5px;
    margin-left:-1px;
    margin-bottom:5px;	
}

input.radio {
    width:20px;
    height:auto;
}

input.submit {
    background:url(../images/gradient-top.jpg) repeat-x;
    height:30px;
    border:1px solid #ccc;
}

select {
    border:1px solid #bbb;
    width:302px;
    height:30px;
    padding:5px;
    margin-left:-1px;	
}

.tagEditor
{
	margin: 4px 0;
	padding: 0;
}

.tagEditor li
{
	display: inline;
	background-image: url(../images/tiny-x.png);
	background-color: #ddd;
	background-position: left center;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0 6px 0 14px;
	margin: 0 4px;	
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        color:#2B6FB6;
}

.tagEditor li:hover
{
	background-color: #ccc;
}

form ul {
    list-style:none;	
}

form ul li {
    padding:10px 0;
}

form ul li label {
    display:block;
    float:left;	
    width:150px;
    padding:5px 20px 0 0;
}

ul.list, ul.cat-list {
    list-style:none;
    margin:0;
    border:1px solid #ccc;
    border-top:0;	
    padding:0;
    height:60px;
}

ul.inactive {
    background: #ddd;
}

ul.trash {
    background: #fff;
    color: #bbb;
}

ul.heading {
    border:none;
    border-bottom:1px solid #bbb;
    font-weight:bold;
    background:none;
    height:30px;
}

ul.heading li {
    font-weight: bold;
}

/* Fix for IE7 since it doesn't understand inline-block' */
ul.list li {
   display:inline-block;
   padding:10px;
   text-align:left;
   zoom:1;
   *display:inline;
}

ul.list li.title {
   width: 35%; 
}

ul.list li.title div, ul.cat-list li div {
	height:10px;	
}

ul.list li.date {
    width: 15%;
}

ul.list li.status {
    width: 15%;
    text-align: center;
}

ul.list li.tags {
    width:25%;
}

ul.cat-list li {
    float:left;
    padding:10px;
    text-align: left;
    width: 45%;
} 

.clear {
    clear:both;
}
